// COLORS
$primary-color: #ee524e;
$secondary-color: #bba26c;

$white-color: #fff;

$dark-gray: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
